@using PagedList
@using PagedList.Mvc
@model IEnumerable<InventorySystem.Models.MalzemeBilgi>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    int counter = 0;
    if (Request.Params.Get("sayfa") != null && !Convert.ToInt32(Request.Params.Get("sayfa")).Equals(1)) {
        counter = 20 * (Convert.ToInt32(Request.Params.Get("sayfa")) - 1);
    }

    var q = Request.Params.Get("q");
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Malzeme Bilgi Tablosu</h3>
        @if (User.IsInRole("MB")) {
            <div class="pull-right">
                @Html.ActionLink("Yeni Kayıt Ekle", "Ekle", null, new { @class = "btn btn-success btn-flat" })
            </div>
        }
        <br clear="all" />
        @if (q != null) {
            <div class="callout callout-warning">
                <h2><b class="text-red">@q</b> için arama sonuçları listeleniyor</h2>
            </div>
        }
    </div>
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#.</th>
                    <th>Malzeme Adı</th>
                    <th>Malzeme Kodu</th>
                    <th>Ambar Yazılım Kodu</th>
                    <th>Tanımı</th>
                    <th>Orijinal Stok Kodu</th>
                    <th>Teknik Bilgi</th>
                    <th>Açıklama</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model) {
                    counter++;
                    <tr>
                        <td>@counter</td>
                        <td>
                            @Html.ActionLink(item.MalzemeAdi, "Detay", new { id = item.MalzemeBilgiID })
                        </td>
                        <td>@item.MalzemeKodu</td>
                        <td>@item.AmbarYazilimKodu</td>
                        <td>@item.MalzemeTanimi</td>
                        <td>@item.OrijinalStokKodu</td>
                        <td>@item.TeknikBilgi</td>
                        <td>@item.Aciklama</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pull-right">
            @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa, q }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </div>
</div>